body {
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* 右上角登录部分 */
.loading {
  width: 250px;
  height: 35px;
  position: absolute;
  left: 882px;
  background-color: #E5E6E6;
  z-index: 800;
}
.loading_ul {
  position: relative;
  left: -40px;
  top: -5px;
}
.load {
  font-size: 12px;
  color: #666666;
}
.load:hover {
  color: black;
  cursor: pointer;2bbb
}
.loading_denglu {
  width: 63px;
  height: 15px;
  text-align: center;
  line-height: 15px;
}
.loading_zhuce {
  width: 91px;
  height: 15px;
  text-align: center;
  border-right: 1px dotted #666666;
  border-left: 1px dotted #666666;
  line-height: 15px;
}
.loading_kaiqi {
  width: 91px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  position: relative;
  left: 158px;
  top: -16px;
}
.loading_pro {
  position: relative;
  top: 2px;
}
/* 顶端部分 */
#divtop {
  width: 900px;
  height: 170px;
  margin-top: 0px;
  position: relative;
  left: 232px;
  z-index: 20;
}
#divtop1 {
  width: 350px;
  height: 150px;
  z-index: 999;
  background-color: white;
}
.logo {
  margin-top: 54px;
  margin-left: 54px;
}
.lfloat {
  float: left;
}
/* 上层部分 */ 
#div_up {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    min-width: 900px;
    overflow: auto;
}
#div_up1 {
    width: 900px;
    margin: 0 auto;
    overflow-x: hidden;
    position: relative;
    top: 0px;
}
#divup_left {
    width: 285px;
    margin: 159px 0 88px 32px;
    z-index: 28;
}
.divup_left1_ul_li1 {
    font-size: 13px;
    width: 220px;
    height: 38px;
    line-height: 38px;
    color: #333333;
    margin-bottom: 18px;
    position: relative;
    cursor: pointer;
    background-color: #D4DEE3;
}
.divup_left1_ul_li1:hover {
  background-color: #BCCAC5;
}
.divup_left1_ul_li2 {
    font-size: 13px;
    width: 220px;
    height: 38px;
    line-height: 38px;
    color: #333333;
    margin-bottom: 18px;
    position: relative;
    cursor: pointer;
    background-color: #9DD6C5;
}
/* 暂停时显示的div */
#zanting {
  width: 265px;
  height: 245px;
  z-index: 100;
  background-color: white;
  opacity: 0.8;
  position: absolute;
  left: 866px;
  top: 76px;
  text-align: center;
  line-height: 245px;
  font-size: 13px;
  display: none;
}
/* 音乐部分 */
#div_music {
    width: 510px;
    height: 245px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    z-index: 30;
    position: absolute;
    left: 620px;
    top: 75px;
}
#photo {
    width: 510px;
    height: 245px;
    z-index: 900;
    background-color: white;
}

.music_start {
  position: relative;
  left: 215px;
  top: -222px;
  z-index: 900;
}
.music_name {
    font-size: 23px;
    color: #676767;
    position: relative;
    left: -20px;
    top: -200px;
}
.music_time {
    font-size: 13px;
    position: relative;
    top: -182px;
    left: -85px;
}
.music_mingzi {
    font-size: 13px;
    position: relative;
    left: -190px;
    top: -145px;
    color: #009966;
}
#audio_down {
  width: 225px;
  height: 3px;
  background-color: #E5E5E8;
  position: relative;
  left: 270px;
  top: -135px;
  }
#audio_up {
  width: 225px;
  height: 3px;
  background-color: #9DD6C5;
}
#time {
  width: 50px;
  height: 20px;
  font-size: 13px;
  position: relative;
  left: 425px;
  top: -130px;
  text-align: center;
  line-height: 20px;
  color: #888888;
}
#voice_control {
  height: 20px;
  width: 60px;
  position: relative;
  left: 440px;
  top: -137px;
  background-color: white;
}
#voice {
  position: absolute;
  left: 483px;
  top: 139px;
}
#voice1 {
  position: relative;
  left: -10px;
  top: -7px;
}
#voice_up {
  width: 46px;
  height: 3px;
  background-color: black;
  position: relative;
  top: -18px;
}
#yuandian {
  width: 5px;
  height: 10px;
  float: right;
  position: relative;
  top: -5px;
  z-index: 50;
}
/* 三个图标 */
#heart {
  position: relative;
  left: 329px;
  top: -60px;
}
#laji {
  position: relative;
  left: 353px;
  top: -60px;
}
#next {
  position: relative;
  left: 375px;
  top: -62px;
}
#voice_down {
  width: 46px;
  height: 3px;
  background-color: #E5E5E8;
  position: relative;
  left: 9px;
  top: 8px;
}
.show {
  display: block;
}
.noshow {
  display: none;
}
/* 发送到手机 */
#sendto_phone {
  width: 127px;
  height: 29px;
  position: relative;
  top: 180px;
  left: 621px;
  z-index: 30;
  font-size: 13px;
  color: #888888;
}
#save {
  position: relative;
  top: 5px;
  left: 5px;
}
.send:hover {
  color: #999999;
  cursor: pointer;
}
/* 听相似歌曲 */
#sound_like {
  width: 102px;
  height: 28px;
  z-index: 60;
  position: absolute;
  left: 1032px;
  top: 350px;
  cursor: pointer;
}
/* 分享这首歌 */



/* 来下载吧 */
#xiazai {
  width: 161px;
  height: 38px;
  z-index: 60;
  position: absolute;
  left: 970px;
  top: 490px;
  cursor: pointer;
}
/* 最近收听 */
#neartime_listen {
    width: 263px;
    margin: 30px auto; 
    font-size: 13px;
    color: #888888;
}
.neartime_listen_ul {
  position: relative;
  left: -11px;
}
.line {
    display: inline-block;
    height: 0;
    border-bottom: 1px solid #888888;
    opacity: 0.3;
    width: 156px;
    position: relative;
    bottom: 3px;
    left: 10px;
    margin-right: 7px;
}
/* 试试这些 */
#try_these {
    width: 263px;
    margin: 30px auto; 
    font-size: 13px;
    color: #888888;
}
.try_these_ul {
    font-size: 13px;
    width: 220px;
    height: 38px;
    line-height: 38px;
    color: #333333;
    margin-bottom: 18px;
    position: relative;
    cursor: pointer;
    background-color: #D4DEE3;
    left: -11px;
}
.try_these_ul:hover {
  background-color: #BCCAC5;
}
/* 品牌兆赫 */
#pinpai {
    width: 263px;
    margin: 30px auto;
    font-size: 13px;
    color: #888888;
}
.pinpai_ul {
    font-size: 13px;
    width: 220px;
    height: 38px;
    line-height: 38px;
    color: #333333;
    margin-bottom: 18px;
    position: relative;
    cursor: pointer;
    background-color: #D4DEE3;
    left: -11px;
}
.pinpai_ul:hover {
  background-color: #BCCAC5;
}
/* 中间灰色div */
#divbody {
  width: 1366px;
  height: 275px;
  background-color: #E1E8E5;
}
/* 下方说明部分 */
#div_shuoming {
  width: 1349px;
  height: 287px;
  margin-bottom: 145px;
}
#div_shuoming_language {
    position: relative;
    top: 230px;
    width: 904px;
    margin: 0 auto;
}
#div_shuoming_language_left {
    font-size: 13px;
    color: #999999;
    font-family: 宋体;
    text-align: center;
}
.div_shuoming_number:hover {
    color: white;
    background-color: #999999;
    cursor: pointer;
}
.div_shuoming_user:hover {
    color: #95667D;
    cursor: pointer;
}
/* 底端部分 */
#divbottom {
  width: 958px;
  height: 98px;
  background-color: #d9d9d9;
  position: fixed;
  left: 204px;
  bottom: 0px;
  text-align: center;
  line-height: 100px;
}



/*左侧div*/
#divleft {
    position: absolute;
    top: 0;
    left: 0;
    width: 675px;
    height: 150%;
    z-index: 999;
    box-shadow: 10px 0px 10px 0px rgba(0,0,0,0.1);
    overflow: hidden;
    border: 1px solid blue;
    background-color: white;
    /*transition: width 4s,height 4s,transform 4s;*/
}
#divleft:hover {
    height: 150%;
    width: 675px;
    cursor: pointer;
    z-index: 50;
    background-color: white;
}













#divleft_top {
  width: 675px;
  height: 170px;
  border: 1px solid blue;
}
.all {
  color: #A8AEB2;
  font-size: 30px;
  position: relative;
  top: 75px;
  left: 50px;
}
#input {
  width: 240px;
  height: 32px;
  border: 1px solid #E1E8E6;
  position: relative;
  top: 50px;
  left: 392px;
  line-height: 32px;
}
#safari {
  width: 215px;
  border: none;
  outline: medium;
  position: relative;
  left: 10px;
}
#sousuo {
  position: relative;
  top: -31px;
  left: 215px;
}
#divleft_body {
  width: 675px;
  height: 800px;
  border: 1px solid red;
}
#divleft_sound {
  width: 675px;
  height: 276px;
  background-color: #EFF5F2;
}
#tupian {
  width: 289px;
  height: 275px;
}
#tupian_shuoming {
  width: 384px;
  height: 275px;
  position: relative;
  left: 290px;
  top: -277px;
}
#yuan1 {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background-color: #D4E1DC;
  font-size: 10px;
  text-align: center;
  color: #9DA1A9;
  position: relative;
  left: 25px;
  top: 30px;
}
#yuan2 {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background-color: #D4E1DC;
  font-size: 10px;
  text-align: center;
  color: #9DA1A9;
  position: relative;
  left: 45px;
  top: 15px;
}
#yuan3 {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background-color: #D4E1DC;
  font-size: 10px;
  text-align: center;
  color: #9DA1A9;
  position: relative;
  left: 65px;
  top: 0px;
}
#yuan4 {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background-color: #D4E1DC;
  font-size: 10px;
  text-align: center;
  color: #9DA1A9;
  position: relative;
  left: 85px;
  top: -15px;
}
#yuan5 {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background-color: #D4E1DC;
  font-size: 10px;
  text-align: center;
  color: #9DA1A9;
  position: relative;
  left: 105px;
  top: -30px;
}
#yuan6 {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background-color: #D4E1DC;
  font-size: 10px;
  text-align: center;
  color: #9DA1A9;
  position: relative;
  left: 125px;
  top: -45px;
}
#yuan1:hover,#yuan2:hover,#yuan3:hover,#yuan4:hover,#yuan5:hover,#yuan6:hover {
  background-color: #9DD6C5;
}
#shuoming_inner {
  width: 380px;
  height: 206px;
  position: relative;
  top: -23px;
}
#song_name{
  font-size: 19px;
  color: #8B8E8C;
  position: relative;
  left: 25px;
}
#song_name:hover {
  color: #9DD6C5;
}
#kaishi {
  position: relative;
  top: 5px;
}
#song_shuoming {
  font-size: 13px;
  color: #636564;
  position: relative;
  left: 25px;
  top: 15px;
}
#xiangqing {
  font-size: 13px;
  color: #8B8E8C;
  position: absolute;
  left: 22px;
  top: 160px;
}
#xiangqing:hover {
  color: #9DD6C5;
}
#chuxian0 {
  position: absolute;
  left: 366px;
  top: 75px;
}
/*歌曲类型*/
#leixing {
  width: 675px;
  height: 125px;
  border: 1px solid blue;
  position: relative;
  top: -273px;
}
a {
  text-decoration: none;
  font-size: 13px;
  color: #888888;
}
li {
  float: left;
}
#leixing_ul {
  position: relative;
  top: 30px;
}
.lianggezi {
  width: 45px;
  height: 16px;
  border-right: 1px solid #CCCCCC;
  text-align: center;
}
.sigezi {
  width: 72px;
  height: 16px;
  border-right: 1px solid #CCCCCC;
   text-align: center;
}
.liugezi {
  width: 115px;
  height: 16px;
   text-align: center;
}
.zi:hover {
  color: #9DD6C5;
}